//////////////////////////////
// Compass Extension Settings
//////////////////////////////

//////////////////////////////
// Style Guide
//
// These settings, along with their paired element or selector settings, will result in either elements or selectors being included in output CSS or not
//////////////////////////////
$output-elements: true !default;
$output-selectors: true !default;

////////////////////////////
// Modular Scale
//
// Values used to determine modular scale values
// http://modularscale.com/
$ratio: augmented_fourth();
$base-size: 1em 2.75em;
////////////////////////////

//////////////////////
// Headings
// create a list of heading sizes, H1 - H6
// default example uses modular scale
$heading-sizes: ms(4) ms(3) ms(2) ms(1) ms(1) ms(1);
//////////////////////

//////////////////////
// Z-INDEXES
$zi-wall: 100;
$zi-header: 0;
$zi-menu: 1;
$zi-content: 2;
//////////////////////

//////////////////////////////
// Breakpoint
//
// Settings for Breakpoint
$breakpoint-to-ems: true;
$breakpoint-no-query-fallbacks: true;
$bp-golden-2: 760px;
$bp-multicol: 950px;
$bp-golden-3: 1400px;
$bp-big-logo: (480px) (min-height 1000px);
$bp-testimonials-2col: 500px ($bp-multicol - 1);
$bp-press-2col: $bp-golden-2 ($bp-multicol - 1);
$bp-blog-2col: 500px;
$bp-blog-thirds: 700px ($bp-multicol - 1);
$bp-blog-img-center: (320px + 1) ($bp-blog-2col - 1);
$bp-slider-overlay: 560px;
$bp-nav: 780px;
$bp-nav-big-logo: ($bp-nav) (min-height 1000px);
$bp-slideshow-border: $bp-nav;
//////////////////////////////

//////////////////////
// SINGULARITY GRIDS
$grids: 2;
// $grids: add-grid(compound(4, 5) at $bp-multicol);
// $grids: add-grid(2 at $bp-multicol);
// $grids: add-grid(ratio(golden(), 2, 'large') at $bp-multicol);
$grids: add-grid(ratio(golden(), 2, 'large') at $bp-golden-2);
// $grids: add-grid(ratio-spiral(3) at $bp-golden-3);
// $grids: add-grid(61.8034 14.5898 23.6068 at $bp-golden-3);
$grids: add-grid(ratio(golden(), 3, 'large') at $bp-golden-3);
// $grids: add-grid(compound(3, 5) at $bp-multicol);
// $grids: ratio-spiral();
$gutters: 1/8;
$gutters: add-gutter(1/10 at $bp-golden-2);
// $gutters: add-gutter(3 at $bp-golden-3);
// $gutters: add-gutter(1/2 at $bp-multicol);
// @debug nth($grids, 1);
// @debug nth($grids, 2);
// @debug nth($grids, 3);
//////////////////////

$space: "\0020";
