%un-margin {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.pager-load-more {
  font-size: 14px;
  li {
    padding-left: 0 !important;
  }
  a {
    color: $gray-med;
    &:hover {
      color: white;
    }
  }
}
