code[class*="language-"],
pre[class*="language-"],
p code,
p pre,
code,
kbd,
pre,
samp {
    font-family: "source-code-pro", monospace;
    font-weight: 300;
}
strong code[class*="language-"],
strong pre[class*="language-"],
strong code,
strong kbd,
strong pre,
strong samp,
code[class*="language-"] strong,
pre[class*="language-"] strong,
code strong,
kbd strong,
pre strong,
samp strong { font-weight: 500 }
code[class*="language-"],
pre[class*="language-"],
p code,
p pre {
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
pre[class*="language-"] {
    background: rgba($black, 0.5);
    padding: .4em .8em;
    margin: .5em 0;
    overflow: auto;
    // background-size: 1em 1em;
    // border-radius: 5px;
}
code[class*="language-"] { color: $cs-text }
:not(pre)>code[class*="language-"] {
    padding: .2em;
    border-radius: .3em;
    box-shadow: none;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata { color: #666 }
.token.comment a,
.token.prolog a,
.token.doctype a,
.token.cdata a { text-decoration: underline }
.token.punctuation { color: $gray-lighter }
.namespace { opacity: .7 }
.token.boolean { color: $purple }
.token.number,
.token.operator { color: $purple }
.token.property { color: $blue }
.token.selector { color: $green }
.token.string,
.token.attr-value { color: #f8ee7f }
.token.entity,
.token.url,
.token.attr-name,
.language-css .token.string { color: #a6e22e }
.token.atrule,
.token.keyword,
.token.tag { color: $orange }
.token.variable { color: $yellow;}
.token.regex,
.token.important { color: red }
.token.important { font-weight: bold }
.token.entity { cursor: help }
pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}
.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: rgba(153,122,102,0.08);
    background: -moz-linear-gradient(left, rgba(153,122,102,0.1) 70%, rgba(153,122,102,0));
    background: -webkit-linear-gradient(left, rgba(153,122,102,0.1) 70%, rgba(153,122,102,0));
    background: -o-linear-gradient(left, rgba(153,122,102,0.1) 70%, rgba(153,122,102,0));
    background: linear-gradient(to right, rgba(153,122,102,0.1) 70%,rgba(153,122,102,0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre-wrap;
}
.line-highlight:before,
.line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: rgba(153,122,102,0.4);
    color: #f5f2f0;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}
.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}
.token a { color: inherit }
