//////////////////////////////
// Nav Component Mixins
//////////////////////////////

@include animate(navbirds) {
  from {
    @include transform3d( translateX(0) translateY(-10%) rotateZ(0deg) );
    opacity: 0.2;
  }
  33%  {
    @include transform3d( translateX(5px) translateY(-15%) rotateZ(5deg) );
  }
  to   {
    @include transform3d( translateX(25px) translateY(-40%) rotateZ(-15deg) );
    opacity: 1;
  }
}
@include animate(navbirds-small) {
  from {
    @include transform3d( translateX(0) translateY(-20%) rotateZ(0deg) scale(0.8) );
    opacity: 0.2;
  }
  50% {
    @include transform3d( translateX(0) translateY(-25%) rotateZ(0deg) scale(0.8) );
    opacity: 1;
  }
  to   {
    @include transform3d( translateX(0) translateY(-20%) rotateZ(0deg) scale(0.8) );
    opacity: 0.2;
  }
}
