//////////////////////////////
// HTML Element Mixins
//////////////////////////////

//////////////////////////////
// HTML Element Default Variables
$html-font-size:   nth($base-font-size, 1) !default;
$html-line-height: $base-line-height !default;
$html-extend:      true !default;
//////////////////////////////

@mixin html-base($font-size: $html-font-size, $line-height: $html-line-height, $extend: $html-extend) {
  @if not ($extend) {
    font-size: $font-size;
    line-height: $line-height;
  }
  @else {
    @extend %html-base;
  }
}
