// Headings -------------------------------------------------------------- */

%h1, %h2, %h3, %h4, %h5, %h6 {
  @extend %headers;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: .05em;
  // margin: .5em 0;
}

%h1 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 1));
    }
    @else {
      font-size: nth($header-sizes, 1);
    }
  }
  font-family: $font-serifs;
  font-style: italic;
}

%h2 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 2));
    }
    @else {
      font-size: nth($header-sizes, 2);
    }
  }
  color: $white;
  background-color: $orange;
  border-bottom: 0.125em solid $white;
  padding: 0.125em;
  ////////
  $white-trans-1: rgba($white, 0.1);
  position: relative;
  background-color: $orange;
  @include background-image(linear-gradient(left, rgba($black, 0.3%), transparent 30%));
  // @include text-shadow(rgba($black, 0.5) 0 0 8px);
  @include filter(drop-shadow(rgba($black, 0.3) 0 2px 4px));
  &:after {
    position: absolute;
    content: $space;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white-trans-1;
  }
  .orange & {
    background-color: $blue;
  }
}

%h3 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 3));
    }
    @else {
      font-size: nth($header-sizes, 3);
    }
  }
  margin: 0.125em 0;
  line-height: 1.1;
}

%h4 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 4));
    }
    @else {
      font-size: nth($header-sizes, 4);
    }
    margin: 0;
  }
}

%h5 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 5));
    }
    @else {
      font-size: nth($header-sizes, 5);
    }
  }
}

%h6 {
  @if $set-header-sizes == true {
    @if $adjust-font-size-to == true {
      @include adjust-font-size-to(nth($header-sizes, 6));
    }
    @else {
      font-size: nth($header-sizes, 6);
    }
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

@if $header-ampersands == true {
  @include header-ampersands;
}
