// DEFAULT COLORS
$black-true         : #000000;
$black              : #1f1f1f;
$gray-dark          : #262626;
$white-off          : shade(white, 10%);
$white              : white;
$blue-slate         : #323d41;
$blue               : #53bcd4;
$orange             : #ff8a0b;
$yellow             : #f6f148;
$green              : #cdf196;
$purple             : #c3a4ff;
// $pink               : hotpink;
$black-trans        : rgba($black, 0.5);






// Color variables expected 04-base
$base-color: $black;
$text-color: $white;
$alt-color: $blue;
$background-color: $blue-slate;
$border-color: $black;


// link colors
$link-normal: $blue;
$link-hover: $white;
$link-active: $white;
$link-visited: $blue;
$link-focus: $blue;
$link-border-normal: $blue;
$link-border-hover: $white;
$link-border-active: $white;
$link-border-visited: $blue;


